@import "../variables";

.topContainer {
  color: $primary-color;
  height: 80vh !important;
}

.topSection {
  display: block;
  min-height: 80vh !important;
  height: 80vh !important;
  justify-content: space-between;
  h5 {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 3rem;
    color: $secondary-color;
    span {
      white-space: pre;
    }
  }
  p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: $primary-color;
  }
}

.imageContainer {
  height: 100%;
  max-width: 40vw;
  img {
    height: 90vh !important;
    width: auto;
    position: absolute;
    left: 0;
    top: 1rem;
  }
}

.buttonLink {
  color: $link-color !important;
}
