@import "./variables";

.section {
}

.card {
  // justify-content: space-between;
  // background-color: transparent;
  text-align: center;
  h5 {
    padding-bottom: 1rem;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.4rem;
    color: $primary-color;
    span {
      white-space: pre;
    }
  }
  p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.8rem;
    color: $primary-color;
    span {
      white-space: pre;
    }
  }
}
