@import "./variables";

.section {
  justify-content: space-between;
  h5 {
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: $primary-color;
    span {
      white-space: pre;
    }
  }
  p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.8rem;
    color: $primary-color;
    span {
      white-space: pre;
    }
  }
}
