@import "./components/variables";

.body {
  .bg {
    width: 100vw;
    height: auto;
    background-image: linear-gradient(
      183deg,
      $background-color 90vh,
      white 90.1vh
    );
  }
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
  @media (max-width: 992px) {
    background-image: linear-gradient(
      183deg,
      $background-color 98vh,
      white 98.1vh
    ) !important;
  }
}
